{% extends "myschool/base.html" %}
{% block body %}
<table class="table table-striped">
	<thead>
		<tr>
		  <th>SR No.</th>
		  <th>Room</th>
			<th>Subject</th>
			<th>Teacher</th>
			<th>Students</th>
		</tr>
	</thead>
	<tbody>
		
	{% for class in classes %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{class.room.get_shape_display}}</td>
		<td>{{class.subject.name}}</td>
		<td>{{class.teacher.name}}</td>
		<td>
			{% for student in class.students.all %}
				{{ forloop.counter }}. {{student.name}}<br/>
			{% endfor %}
		</td>
	  </tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}