{% extends "myschool/base.html" %}
{% block body %}
<form action="" method="POST">
	{% csrf_token %}
	{% include 'myschool/tweak.html' with form=form %}
	<button type="submit" class="btn btn-primary">Search</button>

</form>
{% if teachers %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>No. of Teacher</th>
			<th>No. of Students</th>
			<th>Total Hours </th>
		</tr>
	</thead>
	<tbody>		
	<tr>
		<td>{{teachers.teacher__count}}</td>
		<td>{{students.students__count}}</td>
		<td>{{total_hours.subject__total_duration_in_hours__sum}}</td>
	  </tr>
	</tbody>
</table>
{% endif %}
{% endblock %}